absl-py
astunparse
bio
biopython
biothings-client
blas
bottleneck
bzip2
ca-certificates
cachetools
certifi
charset-normalizer
cudatoolkit
cudnn
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
intel-openmp
joblib
keras
keras-preprocessing
ld_impl_linux-64
libclang
libffi
libgcc-ng
libstdcxx-ng
libuuid
markdown
mkl
mkl-service
mkl_fft
mkl_random
mygene
ncurses
numexpr
numpy
numpy-base
oauthlib
openssl
opt-einsum
pandas
pip
protobuf
pyasn1
pyasn1-modules
python
python-dateutil
pytz
readline
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
six
sklearn
sqlite
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
tk
tqdm
typing-extensions
tzdata
urllib3
werkzeug
wheel
wrapt
xz
zlib
